<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Anketa - Rezultati</title>
	<link rel="icon" href="/img/favicon.ico"/>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<script
  		src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
  	</script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="ui main container">
        <div class="title" style="position:relative; text-align: center; padding-top: 35px; padding-bottom: 35px; font-size: 50px;"><span>Rezultati ankete</span>
			</div>
		<div id="dropdown" class="ui compact menu">
          <div class="ui simple dropdown item">
            Odaberi...
            <i class="dropdown icon"></i>
            <div class="menu">
              <div id="gender" class="item">Pol</div>
              <div id="year" class="item">Starost</div>
              <div id="education" class="item">Obrazovanje</div>
              <div id="useEB" class="item">Stepen korišćenja EB</div>
              <div id="serviceEB" class="item">Usluge koje koriste ispitanici</div>
              <div id="serviceNoEB" class="item">Razlozi zbog kojih ne koriste EB</div>
              <div id="opinion1EB" class="item">Mišljenje o sigurnosti novca prilikom korišćenja EB</div>
              <div id="opinion2EB" class="item">Stav prema EB</div>
            </div>
          </div>
        </div>
        <hr style="margin: 20px 25% 20px 25%;">
        <div id="results">
            
        </div>
        <canvas id="myChart" width="800" height="450">
            
        </canvas>
        <a style="display:block; margin: 20px 0 0 90%" class="ui block aligned right inverted red button" href="/logout">Logout</a>
	</div>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
	<script type="text/javascript" src="/js/resultsScript.js"></script>
</body>
</html>