html {
	height: 100%;
}

body {
	background-image: url(https://source.unsplash.com/-WW8jBak7bo);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

#form-style {
	width: 50%;
}

.page-header {
	text-align: center;
}