/*html {*/
/*	height: 100%;*/
/*}*/

body {
	background-image: url(https://source.unsplash.com/-WW8jBak7bo);
	/*background-repeat: no-repeat;*/
	background-size: cover;
	/*height: 100%;*/
	font-family: Comfortaa;
}

div.ui.main.container {
	background-color: rgb(234, 241, 255);
	padding: 20px;
}
.header {
    text-align: center;
}

.title {
	color: rgb(214, 90, 255);
}

hr {
	color: rgb(214, 90, 255);
}

#option1, #option2 {
	display: none;
}

label#label {
	font-weight: 700;
	text-decoration: underline;
}

div#dropdown {
	display: block;
	margin: 0 25% 0 25%;
	text-align: center;
}

div.menu {
	margin: 0 auto 0 auto;
}

.ui.table td, .ui.table thead th {
	text-align: center;
}

#table {
	text-align: center;
}

#results {
	padding-top: 220px;
	margin: 0 auto 0 auto;
	text-align: center;
}

/*table.ui.very.celled.table {*/
/*	display: block;*/
/*	text-align: center;*/
/*	margin: 0 auto 0 auto;*/
/*}*/

